.hidden {
    display: none;
}
.pusher {
    padding-top:80px;
    padding-left:20px;
    padding-right:20px;
}
.header item {
    color:black;
}
.ui.action.input {
    margin-top: -10px;
    margin-bottom: 10px;
    float: right;
}

.test {
    display: flex;
}
.exportbtn {
    display: flex;
    float: right;
}