{% extends 'mstlist/base.html' %}

{% block content %}

    <h1>ようこそ</h1>

    <div class="ui message">
        <div class="header">
          New Site Features
        </div>
        <ul class="list">
          <li>ユーザーアカウント機能を追加しました</li>
          <li>作業一覧を追加しました</li>
          <li>予定管理を追加しました</li>
        </ul>
    </div>

    <div class="ui icon message">
        <i class="notched circle loading icon"></i>
        <div class="content">
          <div class="header">
            Just one second
          </div>
          <p>随時更新中です</p>
        </div>
    </div>
      
{% endblock content %}