{% extends 'mstlist/base.html' %}
{% block content %}

    <form action="" method="get">
        <div class="ui action input">
            <input name="query" value="{{ request.GET.query }}" type="text" placeholder="Search...">

            {% if request.GET.colum == "work" %}
            <select name="colum" value="{{ request.GET.colum }}" class="ui compact selection dropdown">
                <option value="septictank">浄化槽</option>
                <option value="work" selected >作業</option>
            </select>
            {% else %}
            <select name="colum" value="{{ request.GET.colum }}" class="ui compact selection dropdown">
                <option value="septictank" selected >浄化槽</option>
                <option value="work">作業</option>
            </select>
            {% endif %}

            <button type="submit" class="ui button">検索</button>
        </div>
    </form>

    <a href="/schedule/new/"><i class="pencil alternate icon">AddSchedule</i></a> 

    <table class="ui celled striped table">

        <thead>
        <tr>
            <th colspan="6">
                予定一覧
            </th>
        </tr>
        </thead>

        <tbody>
        {% for s in page_obj %}
        <tr>
            <td class="collapsing">
            <a href="{% url 'schedule_edit' pk=s.id %}"><i class="pencil alternate icon"></i></a> 
            </td>
            <td class="collapsing">{{ s.yDate }}</td>
            <!-- s.cd 子クラスのforeignkey ⇒ .name 親クラスの名称 -->
            <td class="collapsing">{{ s.cd.name }}</td> 
            <td class="collapsing">{{ s.sagyoCd }}</td>
            <td class="collapsing">
            <a href="{% url 'schedule_remove' pk=s.id %}" class="btn_remove"><i class="times circle icon"></i></a> 
            </td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- ページネーション -->
    {% include 'mstlist/pagination.html'%}

{% endblock content %}